{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}
<script>
  $( function() {
    $( ".rate_slider" ).slider({
      range: "max",
      min: 1,
      max: 10,
      value: 1,
      slide: function( event, ui ) {
         var post_id = $(this).data("post-id");

         $( "#amount_"+post_id ).val( ui.value );
      }
    });
    $( "#amount_"+post_id ).val( $(this).slider( "value" ) );
  } );
  </script>

<div class="container" style="min-height:490px;">
            <!--Post-->
            <div class="row">
               <!--Main listing-->
               <div class="col-md-12 full-width-blog ">
                  <div style="height: 50px;"></div>
                  <!--Section: Image post with description-->
                  <section class="section extra-margins">
                  {% if curator_post %}
                     {% for curator_post in curator_post %}
                     <!--Image Post-->
                        <div class="row wow fadeIn" data-wow-delay="0.3s">
                           <!--Art and Details-->
                           <div class="col-md-8 mb-r">
                              <div class="card ovf-hidden">
                                 <div class="card-block">
                                    <!--Art Description-->
                                    <h4>{{ curator_post.post.body_text}}</h4>
                                    <p> {% if curator_post.post.artist %} by {{ curator_post.post.artist }}, uploaded by <a href="{% url 'public_profile'  curator_post.post.user.username %}"><strong>{{ curator_post.post.user.username }}</strong></a> {% else %}by <a href="{% url 'public_profile'  curator_post.post.user.username %}"><strong>{{ curator_post.post.user.username }}</strong></a>{% endif %}, {{ curator_post.post.created_at|date:"N d, Y"}}</p>
                                    <p>{{ curator_post.post.description}}</p>
                                    {% if not curator_post.post.file %}
                                       <div class="card card-block">
                                          {{ curator_post.post.story|linebreaks }}
                                       </div>
                                    {% endif %}
                                 </div>
                                 <!--Featured image-->
                                 {% if curator_post.post.file %}
                                 <div class="view overlay hm-white-slight " align="center">
                                    <img src="{% static curator_post.post.file %}" class="myImg">
                                    <!--<a>-->
                                       <!--<div class="mask"></div>-->
                                    <!--</a>-->
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                           <!--/Art and Details-->
                           <!--Curate Section-->
                           <div class="col-md-4 text-xs-center">
                              <div>
                                 <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseForm{{ curator_post.post.id }}" aria-expanded="false" aria-controls="collapseForm{{ curator_post.post.id }}" style="line-height: 1.2em;">Accept</button>
                                 <button onclick="location.href = '/curate/curateDelete/{{ curator_post.post.id }}';" id="myButton" class="btn btn-danger" >reject</button>

                              </div>
                              <!--Form -->
                              <form action="/curate/curateAllow/{{ curator_post.post.id }}" method="post" id="AcceptPostForm">
                                 {% csrf_token %}
                                 <div class="collapse" id="collapseForm{{ curator_post.post.id }}">

                                    <div class="card-block">
                                       <!--Body-->
                                       <div class="md-form">
                                          <textarea type="text" id="formi1" class="md-textarea"  name="comment"></textarea>
                                          <label for="formi1">Curator Comments</label>
                                       </div>
                                       <div class="md-form">
                                          <select class="js-example-basic-multiple" multiple="multiple" name="tags" style="width:300px;">
                                             {% for mood in mood_list %}
                                                <option value="{{mood.id}}">{{mood.mood}}</option>
                                             {% endfor %}
                                          </select>
                                          <!--<input type="text" id="myTags" class="" name="tags" >-->
                                          <!--<label for="myTags">Mood Tags</label>-->
                                       </div>
                                       <div class="md-form">
                                          <p>
                                            <label for="amount_{{ curator_post.post.id }}">Emotional Intensity:</label>
                                            <input type="text" id="amount_{{ curator_post.post.id }}" readonly value="1" style="border:0; font-weight:bold;" name="rate">
                                          </p>
                                          <div id="slider-range-max-{{ curator_post.post.id }}" data-post-id="{{curator_post.post.id }}" class="rate_slider"></div>
                                       </div>
                                       <div class="text-xs-center">
                                          <button class="btn black">Curate</button>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                              <!--/Form -->
                           </div>
                           <!--/Curate Section-->

                        </div>
                     {% endfor %}
                   {% else %}
                     <h1 align="center">We don’t have any pieces for you to curate.</h1>
                   {% endif %}

                  <!--Image Post-->
                  </section>
               </div>
               <!--/.Main listing-->
            </div>
            <!--/.Post-->
         </div>
<style>

   .ui-slider-handle, .ui-state-hover, .ui-state-default{
height: 20px important;
width: 20px;
background: #0275d8 !important;
border-radius: 0;
top: 0 !important;
    border:0 !important;
}
.ui-slider{
border-radius: 0;
height: 21px !important;
background: #000;
    border-color :#fff !important;
}
</style>
<script>
    $(document).ready(function() {
         $(".js-example-basic-multiple").select2({
              placeholder: "Type mood tag here",
               allowClear: true
         });

    });
</script>
{% endblock %}
