{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}

<div class="container">
   <!--Post-->
   <div class="row">
      <!--Main listing-->
      <div class="col-md-12 full-width-blog ">
         <div class="divider-new wow fadeIn">
            <h2>How are you feeling?</h2>
         </div>
         <ul class='circle-container'>
            <li class="hm-zoom"><a href="{% url 'dashboard' 'happy' %}"><img src="{% static 'assets/img/happy.svg' %}" ></a></li>
            <li class="hm-zoom"><a href="{% url 'dashboard' 'excited' %}"><img src="{% static 'assets/img/excited.svg' %}" ></a></li>
            <li class="hm-zoom"><a href="{% url 'dashboard' 'bored' %}"><img src="{% static 'assets/img/bored.svg' %}" ></a></li>
            <li class="hm-zoom"><a href="{% url 'dashboard' 'nervous' %}"><img src="{% static 'assets/img/nervous.svg' %}" ></a></li>
            <li class="hm-zoom"><a href="{% url 'dashboard' 'sad' %}"><img src="{% static 'assets/img/sad.svg' %}" ></a></li>
            <li class="hm-zoom"><a href="{% url 'dashboard' 'angry' %}"><img src="{% static 'assets/img/angry.svg' %}" ></a></li>
         </ul>
         <div style="height: 100px;"></div>
      </div>
      <!--/.Main listing-->
   </div>
   <!--/.Post-->
</div>
{% endblock %}