{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles custom_tags %}
{% load el_pagination_tags %}
<div class="container">
   <!--Post-->
   <div class="row">
      <!--Main listing-->
      <div class="col-md-12 full-width-blog ">
         <!--<div class="divider-new wow fadeIn">-->
            <!--<h2>Recent posts</h2>-->
         <!--</div>-->
         <!--Section: Image post with description-->
         <section class="section extra-margins">
            {% if posts %}
               {% paginate posts %}
               {% for post in posts %}
                  <!--Image Post-->
                  <div class="row wow fadeIn" data-wow-delay="0.3s">
                     <!--Art and Details-->
                     <div class="col-md-8 mb-r">
                        <div class="card ovf-hidden">
                           <!--Featured image-->
                           {% if post.file %}
                              <div class="view overlay hm-white-slight ">
                                 <img src="{% static post.file %}">
                                 <a>
                                    <div class="mask"></div>
                                 </a>
                              </div>
                           {% endif %}
                           <div class="card-block">
                              {% if not post.file %}
                                 <!--Art Display-->
                                 <div class="card card-block">
                                    {{ post.story|slice:"100" }}<br/><br/>
                                    {% if post.story|length > 100 %}
                                       <div class="collapse" id="collapseExample{{post.id}}">
                                          {{ post.story|slice:"100:" }}
                                       </div>
                                    {% endif %}
                                 </div>
                                 {% if post.story|length > 100 %}
                                    <p><button class="btn btn-primary float-xs-right arrow-r" type="button" data-toggle="collapse" data-target="#collapseExample{{post.id}}" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down rotate-icon"></i></button></p>
                                 {% endif %}
                              {% endif%}
                              <!--Art Description-->
                              <a href="" class="blue-text">
                                 <h5>
                                    <!--<i class="fa fa-plane"></i>-->
                                    {{  post.mood|get_mood_name }}
                                 </h5>
                              </a>
                              <div class="col-md-10">
                                 <h4>{{ post.body_text }}</h4>
                                 <p>{{ post.description }}</p>
                                 <p> {% if post.artist %} by {{ post.artist }}, uploaded by <a href="{% url 'public_profile'  post.user.username %}"><strong>{{ post.user.username }}</strong></a> {% else %}by <a href="{% url 'public_profile'  post.user.username %}"><strong>{{ post.user.username }}</strong></a>{% endif %}, {{ post.created_at|date:"N d, Y"}}</p>
                              </div>
                              <div class="col-md-2 wow fadeIn" data-wow-delay="0.3s">
                                 <a href="/upvote/{{ post.id }}" class="btn-floating btn-small {{ post|upvote:request.user.id }} up-vote"><i class="fa fa-chevron-up"> </i></a>
                                 <p style="padding-left: 1.8em;margin-bottom:0 !important;" class="vote-count"> {{ post.id|get_votes}} </p>
                                 <a href="/downvote/{{ post.id }}" class="btn-floating btn-small {{ post|downvote:request.user.id }} down-vote"><i class="fa fa-chevron-down "> </i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--/Art and Details-->
                     <!--Comment Section-->
                     <div class="col-md-4 mb-r">
                        <!--Scrolling box-->
                        <div class="scroll-box">
                           <div class="scrollspy-example z-depth-1" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                              <div style="padding: 20px">
                                 <p><strong>Curator Comment</strong> - {{ post.curator_comments}}</p>
                              </div>
                              <hr>
                              <!--Comments Wrapper-->
                              <div class="comments-list col-md-12 " >
                                 <!--Leave a reply form-->
                                 <div class="reply-form">
                                    <!--Reply-->
                                    <div class="row">
                                       <!--Avatar-->
                                       <!--<div class="col-sm-3 col-xs-12">-->
                                          <!--<img src="{% if request.user.users.profile_pic %}{% static request.user.users.profile_pic %}{% else %}{% static 'profileData/avatar.jpeg' %}{% endif %}" class="small-avatar">-->
                                       <!--</div>-->
                                       <!--/.Avatar-->
                                       <form action="/comments/add/{{ post.id }}" method="POST" class="CommentForm">
                                          {% csrf_token %}
                                             <!--Content -->
                                             <div class="col-sm-12 col-xs-12">
                                                <div class="md-form">
                                                   <textarea type="text" id="form8" class="md-textarea" name="text"></textarea>
                                                   <label for="form8">Write your comment here</label>
                                                </div>
                                             </div>
                                             <div class="text-xs-center">
                                                <button class="btn btn-primary" type="submit">Comment</button>
                                             </div>
                                             <!--/.Content -->
                                       </form>
                                    </div>
                                    <!--/.Reply-->
                                 </div>
                                 <!--/.Leave a reply form-->
                                   {% if post.id|get_comments %}
                                       {% for comment in post.id|get_comments %}
                                          <!--Comment Data-->
                                          <div class="row">
                                             <!--Avatar-->
                                             <!--<div class="col-sm-3 col-xs-12">-->
                                                <!--<img src="{% if comment.author_id.profile_pic %}{% static comment.author_id.profile_pic %}{% else %}{% static 'profileData/avatar.jpeg' %}{% endif %}" class="small-avatar">-->
                                             <!--</div>-->
                                             <!--/.Avatar-->
                                             <!--Comment-->
                                             <div class="col-sm-12 col-xs-12">
                                                <a >
                                                   <h5 class="user-name lead">{{ comment.author_id }}</h5>
                                                </a>
                                                <p class="comment-text">{{ comment.body }}</p>
                                             </div>
                                             <!--/.Comment-->
                                          </div>
                                          <!--/.Comment Data-->
                                       {% endfor %}
                                    {% endif %}

                              </div>
                              <!--/.Comments Wrapper-->
                           </div>
                        </div>
                        <!--Scrolling Box-->
                     </div>
                     <!--/Comment Section-->
                  </div>
                  <!--Image Post-->
               {% endfor%}

               {% show_pages %}

            {% endif %}

         </section>
      </div>
      <!--/.Main listing-->
   </div>
   <!--/.Post-->
</div>
<style>
   .dark-grey{
      background-color: #b4b4b4 !important;

   }
   .black{
      background-color: #000 !important;

   }
   .view img, .view video {
       margin: auto;
   }
</style>
<script>
   var ajax_url = window.location.protocol + "//" + window.location.host
   $('.CommentForm').submit(function(event){
        event.preventDefault();
        $this = $(this);

         $.ajax({
            type: "POST",
            url: ajax_url+$(this).attr('action'),
            data: $(this).serialize(),
            success: function (msg) {
                  message_list = msg.split(':::')
                  $('<div class="row"><div class="col-sm-12 col-xs-12"><a><h5 class="user-name lead">'+message_list[0]+'</h5></a><p class="comment-text">'+message_list[2]+'</p></div></div>').insertAfter($this.closest('.reply-form'));
                  return false;
            },
            error: function (e) {

                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);

            }
        });

        return false;

      });

   $('.up-vote').click(function(event){

        event.preventDefault();
        $this = $(this);

         $.ajax({
            type: "POST",
            url: ajax_url+$(this).attr('href'),
            success: function (count) {
                  $this.siblings('.vote-count').text(count);
                  $this.removeClass('dark-grey');
                  $this.addClass('black');
                  $this.siblings('.down-vote').removeClass('black').addClass('dark-grey');
                  return false;
            },
            error: function (e) {

                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);

            }
        });

        return false;

      });
      $('.down-vote').click(function(event){
        event.preventDefault();
        $this = $(this);

         $.ajax({
            type: "POST",
            url: ajax_url+$(this).attr('href'),
            success: function (count) {
                  $this.siblings('.vote-count').text(count);
                  $this.removeClass('dark-grey');
                  $this.addClass('black');
                  $this.siblings('.up-vote').removeClass('black').addClass('dark-grey');
                  return false;
            },
            error: function (e) {

                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);

            }
        });

        return false;

      });
</script>
{% endblock %}
