<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
   <head>
      <!-- Required meta tags always come first -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Lantern - Landing Page</title>
      <!-- FavIcon -->
      <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon" />
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Material Design -->
      <link href="{% static 'assets/css/materialD.css' %}" rel="stylesheet">
      <!-- Custom Stylesheet-->
      <link href="{% static 'assets/css/pnotify.custom.min.css' %}" rel="stylesheet">
      <!-- Custom Stylesheet-->
      <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
   </head>
   <body class="fixed-sn dark-skin">
      <div class="container">
         <div class="row">
            <div class="col-xs-5">
               <img src="{% static 'assets/img/logo_header.png' %}" style="width: 55%;height: 55%; ">
            </div>
            <div class="col-xs-7" >
               <div class="row" style="float: right;">
                  <form class="form-inline " action="/login/" method="post" id="LoginForm">
                     {% csrf_token %}
                     <div class="md-form form-group nav-white">
                        <input type="text" id="form91" class="form-control validate" name="username">
                        <label for="form91" data-error="wrong" data-success="">Type your username</label>
                     </div>
                     <div class="md-form form-group nav-white">
                        <input type="password" id="form92" class="form-control validate" name="password">
                        <label for="form92" data-error="wrong" data-success="">Type your password</label>
                     </div>
                     <div class="md-form form-group nav-white">
                        <button class="btn black" type="submit">Login</button>

                     </div>
                  </form>
               </div>
               <div class="row" style="float: left; position: absolute; top: 75px; left: 300px;">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Forgotten Account?</a>
               </div>
               <!-- Modal -->
               <div id="myModal" class="modal fade" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Forgot Password Form</h4>
                     </div>
                      <form action="/forgot_password_view/" method="post" id="ForgotEmailForm">
                         {% csrf_token %}
                           <div class="modal-body">
                             <div class="md-form">
                                 <i class="fa fa-envelope prefix"></i>
                                 <input type="email" id="id_reset_email" class="form-control" name="email">
                                 <label for="id_reset_email">Your email</label>
                              </div>
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                           </div>
                      </form>
                   </div>

                 </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Main layout -->
      <main>
         <div class="container">
            <!--Post-->
            <div class="row">
               <!--Main listing-->
               <div class="col-md-12 full-width-blog ">
                  <br><br>
                  <div class="row wow fadeIn vertical-divider" data-wow-delay="0.4s">
                     <!--First column-->
                     <div class="col-md-8 mb-r">
                        <h1 class="h1-responsive">Big text here</h1>
                        <hr>
                        <h3><small class="text-muted">Some small text hereLorem ipsum dolor sit amet, consectetur adipisicing elit dolor!</small></h3>
                        <div class="mood-inline">
                           <span class="hm-zoom"><img src="{% static 'assets/img/happy.svg' %}" ></span>
                           <span class="hm-zoom"><img src="{% static 'assets/img/excited.svg' %}"></span>
                           <span class="hm-zoom"><img src="{% static 'assets/img/bored.svg' %}"></span>
                           <span class="hm-zoom"><img src="{% static 'assets/img/nervous.svg' %}"></span>
                           <span class="hm-zoom"><img src="{% static 'assets/img/sad.svg' %}"></span>
                           <span class="hm-zoom"><img src="{% static 'assets/img/angry.svg' %}"></span>
                        </div>
                        <blockquote class="blockquote">
                           <p class="mb-0">In case you feel like inserting a blockquote.</p>
                        </blockquote>
                        <h3><small class="text-muted">Some small text hereLorem ipsum dolor sit amet, consectetur adipisicing elit dolor!</small></h3>
                     </div>
                     <!--.First column-->
                     <!--Second column-->
                     <div class="col-md-4 ">
                        <!--Header-->
                        <div class="text-center" >
                           <h1 class="h1-responsive"><i class="fa fa-lock"></i> Sign up</h1>
                           <hr class="mt-1 mb-2">
                        </div>
                        <!--Body-->
                        <div class="hidden-sm-down" style="height: 1.5em;"></div>
                        <div class="card">
                           <div class="card-block">
                              <form action="/register/" method="post" id="RegisterForm">
                                 {% csrf_token %}
                                 <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="email" id="form2" class="form-control" name="email">
                                    <label for="form2">Your email</label>
                                 </div>
                                 <div class="text-center">
                                    <button class="btn black" type="submit">Continue</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <!--Sign up Form-->
                     </div>
                     <!--.Second column-->
                  </div>
               </div>
            </div>
            <!--/.Main listing-->
         </div>
         <!--/.Post-->
         </div>
      </main>
      <!--/ Main layout -->
      <!-- SCRIPTS -->
      <!-- JQuery -->
      <script type="text/javascript" src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
      <!-- Tooltips -->
      <script type="text/javascript" src="{% static 'assets/js/tether.min.js' %}"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- Material Design core JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/materialD.min.js' %}"></script>
      <!-- Mood Navigation JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/moodCircleNav.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/pnotify.custom.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/custom-pnotify.js' %}"></script>
      <script>
         // Animation init
         new WOW().init();
         var ajax_url = window.location.protocol + "//" + window.location.host+'/'
         $('#LoginForm').validate({
           rules: {
             // compound rule
             username: {
               required: true,
             },
             password: {
               required: true,
             }
           }
         });
         $('#RegisterForm').validate({
           rules: {
             // compound rule
                email: {
                  required: true,
                  email: true,
                  remote: ajax_url+ 'is_email_exists/'
                }
             },
             messages: {
               email:{
                  remote: 'Already exists'
               }
             }
         });

         $('#ForgotEmailForm').validate({
           rules: {
             // compound rule
               email: {
                  remote: ajax_url+ 'forgot_email_exists/'
               }
           },
           messages: {
               email: {
                  remote: 'Email does not exists'
               }
           }
         });

      </script>

{% if loginerror %}
   <script>
      show_stack_bar_bottom('error', '{{ loginerror }}');
   </script>
{% endif %}
   <style>
      label.error {
          margin-left: 47px !important;
      }
   </style>
   </body>
</html>