{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}
<div class="container">
<!--Post-->
<div class="row">
   <!--Main listing-->
   <div class="col-md-12 full-width-blog ">
      <section  class="section">
         <!--Section description-->
         <div class="row wow fadeIn " data-wow-delay="0.4s">
            <!--First column-->
            <div class="col-md-6 offset-md-3">
               <form onsubmit="return Validate(this);" action="/profile_picture/" method="post" id="ProfilePocturForm" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-md-12">
                        <h1 class="text-xs-center h1-responsive">Change Profile Picture</h1>
                        <br>
                     </div>
                  </div>
                   <!--Fourth row-->
                  <div class="file-field">
                     <div class="btn btn-primary" >
                        <span>Choose file</span>
                        <input id="id_profile_pic" name="profile_pic" type="file" required>
                     </div>
                     <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload your Profile" required    >
                     </div>
                  </div>
                  <!--/Fourth row-->
                  <br><br>
                  <div class="float-xs-right">
                     <button class="btn black">Change Profile Picture</button>
                  </div>
                </form>
            </div>
            <!--.First column-->
         </div>
      </section>
   </div>
</div>
<!--/.Main listing-->
</div>
<!--/.Post-->
</div>
<style>
   <!--.view_grid  img.img-fluid , .view_grid , .view , .card{-->
      <!--height: 270px !important;-->
   <!--}-->
.modal-backdrop.in {
    display: none;
 }
</style>

{% endblock %}