{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}
<div class="container">
<!--Post-->
<div class="row">
<!--Main listing-->
<div class="col-md-12 full-width-blog ">
   <br>
   <section class="section extra-margins">
      <!--User Profile-->
      <div class="row wow fadeIn" data-wow-delay="0.3s">
         <!--Section: About user-->
         <section class="mb-4">
            <!--Author box-->
            <div class=" wow fadeIn" data-wow-delay="0.3s">
               <div class="row">
                  <!--Name-->
                  <h3 class="h3-responsive ">{{ request.user.username }}</h3>
                  <hr>
                  <!--Avatar-->
                  <div class="col-sm-2 col-xs-12 profile-pic">
                        <img src="{% if request.user.users.profile_pic %}{% static request.user.users.profile_pic %}{% else %}{% static 'profileData/avatar.jpeg' %}{% endif %}" class="img-fluid rounded-circle z-depth-2">
                        <div class="edit"><a href="{% url 'profile_picture' %}"><i class="fa fa-pencil fa-lg"></i></a></div>

                  </div>
                  <!--Author Data-->
                  <div class=" col-xs-12 col-sm-10">
                     <div class="personal-sm">
                        <a href="{% if request.user.users.website_link %}{{ request.user.users.website_link }}{% else %}javascript:void(0);{% endif %}" class="email-ic"><i class="fa fa-home"> </i></a>
                        <a href="{% if request.user.users.facebook_link %}https://www.facebook.com/{{ request.user.users.facebook_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="fb-ic"><i class="fa fa-facebook"> </i></a>
                        <a href="{% if request.user.users.twitter_link %}https://twitter.com/{{ request.user.users.twitter_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="tw-ic"><i class="fa fa-twitter"> </i></a>
                        <!--<a href="{% if request.user.users.google_plus_link %}https://plus.google.com{{ request.user.users.google_plus_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="gplus-ic"><i class="fa fa-google-plus"> </i></a>-->
                        <!--<a href="{% if request.user.users.linkedin_link %}https://www.linkedin.com/{{ request.user.users.linkedin_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="li-ic"><i class="fa fa-linkedin"> </i></a>-->
                        <a href="{% if request.user.users.dribble %}https://dribbble.com/{{ request.user.users.dribble }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="dribbble-ic"><i class="fa fa-dribbble"> </i></a>
                        <a href="mailto:{{ request.user.users.email }}" class=""><i class="fa fa-envelope-o"> </i></a>
                     </div>
                     <p>{{ request.user.users.about_me }}</p>
                     <br>
                     <div class="">
                        <a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-pencil"></i> Edit</a>
                     </div>
                     <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                           <!--Content-->
                           <div class="modal-content">
                              <!--Header-->
                              <div class="modal-header">
                                 <div class="text-xs-center">
                                    <h4 class="modal-title " >Edit my Bio!</h4>
                                 </div>
                              </div>
                              <form action="profile/" method="post" id="ProfileForm">
                                 {% csrf_token %}
                                 <!--Body-->
                                 <div class="modal-body">

                                    <br>
                                    <div class="md-form">
                                       <i class="fa fa-user prefix"></i>
                                       {{ form.first_name }}
                                       <label for="form42">Your name</label>
                                    </div>
                                    <div class="md-form">
                                       <i class="fa fa-envelope prefix"></i>
                                       {{ form.email }}
                                       <label for="form34">Your email</label>
                                    </div>
                                    <div class="md-form">
                                       <i class="fa fa-pencil prefix"></i>
                                       {{ form.about_me }}
                                       <label for="form8">About yourself :)</label>
                                    </div>
                                    <h3>Social Links:</h3>
                                    <label for="basic-url">Website link</label>
                                    <div class="md-form input-group">
                                       <!--<span class="input-group-addon" id="basic-addon3"></span>-->
                                       {{ form.website_link }}
                                    </div>
                                    <label for="basic-url">Facebook</label>
                                    <div class="md-form input-group">
                                       <span class="input-group-addon" id="basic-addon3">https://www.facebook.com/</span>
                                       {{ form.facebook_link }}
                                    </div>
                                    <label for="basic-url">Twitter</label>
                                    <div class="md-form input-group">
                                       <span class="input-group-addon" id="basic-addon3">https://twitter.com/</span>
                                       {{ form.twitter_link }}
                                    </div>
                                    <!--<label for="basic-url">Google Plus</label>-->
                                    <!--<div class="md-form input-group">-->
                                       <!--<span class="input-group-addon" id="basic-addon3">https://plus.google.com</span>-->
                                       <!--{{ form.google_plus_link }}-->
                                    <!--</div>-->
                                    <!--<label for="basic-url">Linkedn</label>-->
                                    <!--<div class="md-form input-group">-->
                                       <!--<span class="input-group-addon" id="basic-addon3">https://www.linkedin.com/</span>-->
                                       <!--{{ form.linkedin_link }}-->
                                    <!--</div>-->
                                    <label for="basic-url">Dribble</label>
                                    <div class="md-form input-group">
                                       <span class="input-group-addon" id="basic-addon3">https://dribbble.com/</span>
                                       {{ form.dribble_link }}
                                    </div>
                                 </div>
                                 <!--Footer-->
                                 <div class="modal-footer flex-column">
                                    <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary ml-auto">Save changes</button>
                                 </div>
                              </form>
                              <!--/.Content-->1
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--/.Author box-->
         </section>
         <!--/Section: About user-->
         </div>
         <!--User Profile-->
   </section>
   <section class="section extra-margins">
      {% if posts %}
      <!--User Submissions-->
      <div class="row wow fadeIn" data-wow-delay="0.3s">
         {% for post in posts %}
            <div class="col-md-4 view_grid">
               {% if post.file %}
                  <div class="view">
                     <img src="{% static post.file %}" class="img-fluid myImg">
                     <!--<img src="{% static 'assets/img/p1.jpg' %}" class="img-fluid " >-->
                     <!--<div class="mask flex-center"></div>-->
                     {% if post.allow == 1 %}<p class="green">Accepted</p>{% elif post.allow == 2 %}<p class="red">Rejected</p>{% else %}<p class="grey">Curation in Progress</p>{% endif %}</p>
                  </div>

               {% else %}
                  <div class="view hm-white-light">
                     <div class="card card-block">
                        <h4 class="card-title">{{ post.body_text }}</h4>
                        <p class="card-text">{{ post.story|slice:":100" }}</p>
                     </div>
                     <div class="mask flex-center"></div>
                     {% if post.allow == 1 %}<p class="green">Accepted</p>{% elif post.allow == 2 %}<p class="red">Rejected</p>{% else %}<p class="black">Curation in Progress</p>{% endif %}</p>
                  </div>
               {% endif %}
            </div>
            {% if forloop.counter|divisibleby:"3" %}
               </div>
               <br><br>
               <div class="row wow fadeIn" data-wow-delay="0.3s">
            {% endif %}
         {% endfor %}
      </div>
      {% endif %}
      <!--/User Submissions-->
            <!--/User Submissions-->
      </section>
   </div>
   <!--/.Main listing-->
   </div>
   <!--/.Post-->
</div>
<style>
   <!--.view_grid  img.img-fluid , .view_grid , .view , .card{-->
      <!--height: 270px !important;-->
   <!--}-->
.modal-backdrop.in {
    display: none;
 }
 .img-fluid.myImg {
    width: 100%;
}

.view > p {

    color: #fff;
    text-align: center;
}
.profile-pic {
	position: relative;
	display: inline-block;
}

.profile-pic:hover .edit {
	display: block;
}

.edit {
	padding-top: 0px;
	padding-right: 2px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #000;
}

</style>
{% if model %}
<script>
   $(document).ready(function(){
      $('.bd-example-modal-lg').modal('show');
   })
</script>
{% endif %}
<script>
var ajax_url = window.location.protocol + "//" + window.location.host
   $('#ProfileForm').submit(function(event){

        event.preventDefault();
        $this = $(this);11

         $.ajax({
            type: "POST",
            url: ajax_url+$(this).attr('action'),
            data: $(this).serialize(),
            success: function (msg) {
                 window.location.href = "/"

            },
            error: function (e) {

                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);

            }
        });

        return false;

      });
</script>
{% endblock %}