{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}
<div class="container">
<!--Post-->
<div class="row">
<!--Main listing-->
<div class="col-md-12 full-width-blog ">
   <br>
   <section class="section extra-margins">
      <!--User Profile-->
      <div class="row wow fadeIn" data-wow-delay="0.3s">
         <!--Section: About user-->
         <section class="mb-4">
            <!--Author box-->
            <div class=" wow fadeIn" data-wow-delay="0.3s">
               <div class="row">
                  <!--Name-->
                  <h3 class="h3-responsive ">{{ username }}</h3>
                  <hr>
                  <!--Avatar-->
                  <div class="col-sm-2 col-xs-12">
                     <img src="{% if users.profile_pic %}{% static users.profile_pic %}{% else %}{% static 'profileData/avatar.jpeg' %}{% endif %}" class="img-fluid rounded-circle z-depth-2">
                  </div>
                  <!--Author Data-->
                  <div class=" col-xs-12 col-sm-10">
                     <div class="personal-sm">
                        <a href="{% if users.website_link %}https://{{ users.website_link }}{% else %}javascript:void(0);{% endif %}" class="email-ic"><i class="fa fa-home"> </i></a>
                        <a href="{% if users.facebook_link %}https://www.facebook.com/{{ users.facebook_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="fb-ic"><i class="fa fa-facebook"> </i></a>
                        <a href="{% if users.twitter_link %}https://twitter.com/{{ users.twitter_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="tw-ic"><i class="fa fa-twitter"> </i></a>
                        <a href="{% if users.google_plus_link %}https://plus.google.com{{ users.google_plus_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                        <a href="{% if users.linkedin_link %}https://www.linkedin.com/{{ users.linkedin_link }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="li-ic"><i class="fa fa-linkedin"> </i></a>
                        <a href="{% if users.dribble %}https://dribbble.com/{{ users.dribble }}{% else %}javascript:void(0);{% endif %}" target="_blank" class="dribbble-ic"><i class="fa fa-dribbble"> </i></a>
                        <a href="mailto:{{ users.email }}" class=""><i class="fa fa-envelope-o"> </i></a>
                     </div>
                     <p>{{ users.about_me }}</p>
                     <br>
                  </div>
               </div>
               <!--/.Author box-->
         </section>
         <!--/Section: About user-->
         </div>
         <!--User Profile-->
   </section>
   <section class="section extra-margins">
   {% if posts %}
      <!--User Submissions-->
      <div class="row wow fadeIn" data-wow-delay="0.3s">
         {% for post in posts %}
            <div class="col-md-4 view_grid">
               {% if post.file %}
                  <div class="view">
                     <img src="{% static post.file %}" class="img-fluid myImg">
                     <!--<img src="{% static 'assets/img/p1.jpg' %}" class="img-fluid " >-->
                     <!--<div class="mask flex-center"></div>-->

                  </div>

               {% else %}
                  <div class="view hm-white-light">
                     <div class="card card-block">
                        <h4 class="card-title">{{ post.body_text }}</h4>
                        <p class="card-text">{{ post.story|slice:":100" }}</p>
                     </div>
                     <div class="mask flex-center"></div>

                  </div>
               {% endif %}
            </div>
            {% if forloop.counter|divisibleby:"3" %}
               </div>
               <br><br>
               <div class="row wow fadeIn" data-wow-delay="0.3s">
            {% endif %}
         {% endfor %}
      </div>
      {% endif %}
   </section>
   </div>
   <!--/.Main listing-->
   </div>
   <!--/.Post-->
</div>
<style>
   <!--.view_grid  img.img-fluid , .view_grid , .view , .card{-->
      <!--height: 270px !important;-->
   <!--}-->

</style>
{% endblock %}