<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
   <head>
      <!-- Required meta tags always come first -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Lantern - Sign Up!</title>
      <!-- FavIcon -->
      <link href="{% static 'assets/img/favicon.ico' %}" rel="icon" type="image/x-icon" />
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Material Design -->
      <link href="{% static 'assets/css/materialD.css' %}" rel="stylesheet">
      <!-- Custom Stylesheet-->
      <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
   </head>
   <body class="fixed-sn dark-skin">
      <div class="container">
         <div class="row">
            <div class="col-xs-5">
               <img src="{% static 'assets/img/logo_header.png' %}" style="width: 55%;height: 55%; ">
            </div>
         </div>
      </div>
      <!-- Main layout -->
      <main>
         <div class="container">
            <!--Post-->
            <div class="row">
               <!--Main listing-->
               <div class="col-md-12 full-width-blog ">
                  <section  class="section">
                     <!--Section description-->
                     <div class="row wow fadeIn " data-wow-delay="0.4s">
                        <!--First column-->
                        <div class="col-md-6 offset-md-3">
                           <form onsubmit="return Validate(this);" action="/signup/" method="post" id="SignupForm" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form.email}}
                              <!--First row-->
                              <div class="row">
                                 <div class="col-md-12">
                                    <h1 class="text-xs-center h1-responsive">Almost done...</h1>
                                    <br>
                                    <div class="md-form">
                                       {{ form.username }}
                                       <label for="id_username" class="">User Name</label>
                                    </div>
                                 </div>
                              </div>
                              <!--/First row-->
                              <!--Second row-->
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="md-form">
                                       {{ form.password }}
                                       <label for="id_password" class="">Password</label>
                                    </div>
                                 </div>
                              </div>
                              <!--/Second row-->
                              <!--Third row-->
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="md-form">
                                       {{ form.confirm_password }}
                                       <label for="id_confirm_password" class="">Confirm Password</label>
                                    </div>
                                 </div>
                              </div>
                              <!--/Third row-->
                              <!--Fourth row-->
                              <div class="file-field">
                                 <div class="btn btn-primary" >
                                    <span>Choose file</span>
                                    {{ form.profile_pic }}
                                 </div>
                                 <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your Profile" >
                                 </div>
                              </div>
                              <!--/Fourth row-->
                              <br><br>
                              <div class="float-xs-right">
                                 <button class="btn black">Sign up</button>
                              </div>
                        </div>
                        </form>
                        <!--.First column-->
                     </div>
                  </section>
               </div>
            </div>
            <!--/.Main listing-->
         </div>
         <!--/.Post-->
         </div>
      </main>
      <!--/ Main layout -->
      <!-- SCRIPTS -->
      <!-- JQuery -->
      <script type="text/javascript" src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
      <!-- Tooltips -->
      <script type="text/javascript" src="{% static 'assets/js/tether.min.js' %}"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- Material Design core JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/materialD.min.js' %}"></script>
      <!-- Mood Navigation JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/moodCircleNav.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
      <script>
      var ajax_url = window.location.protocol + "//" + window.location.host+'/'
         // Animation init
         new WOW().init();
         $(document).ready(function() {
          $('.mdb-select').material_select();

            $('#SignupForm').validate({
              rules: {
                // compound rule
                username: {
                  required: true,
                  remote: ajax_url+ 'is_user_exists/'
                },
                password: {
                  required: true,
                  minlength: 8
                },
                confirm_password: {
                  required: true,
                  minlength: 8,
                  equalTo: "#id_password"
                },

              },
              messages:{
                  username: {
                     required: "This field is required",
                     remote: 'Already exists'
                  }
              }
            });

         });

         var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];    
         function Validate(oForm) {
             var arrInputs = oForm.getElementsByTagName("input");
             for (var i = 0; i < arrInputs.length; i++) {
                 var oInput = arrInputs[i];
                 if (oInput.type == "file") {
                     var sFileName = oInput.value;
                     if (sFileName.length > 0) {
                         var blnValid = false;
                         for (var j = 0; j < _validFileExtensions.length; j++) {
                             var sCurExtension = _validFileExtensions[j];
                             if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                 blnValid = true;
                                 break;
                             }
                         }
                         
                         if (!blnValid) {
                             alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                             return false;
                         }
                     }
                 }
             }
           
             return true;
         }
         
      </script>
   </body>
</html>