{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}
<div class="container">
   <!--Post-->
   <div class="row">
      <!--Main listing-->
      <div class="col-md-12 full-width-blog ">
         <div class="divider-new wow fadeIn">
            <h2>Sorry You are not a Curator </h2>
         </div>
         <div class="text-xs-center">
            <h2><small class="text-muted">Oh the sadness...</small></h2>
            <p>But apparently if you wanna apply for the postion drop by a mail at example@mail.com ! Feel free to drop by a mail even if you don't wanna be a curator. We'd love to hear what spammers have to say :)</p>
            <!--Remove this if you find a way to make the footer stay at the bottom lol-->
            <div style="height: 230px;"></div>
            <!--Remove this if you find a way to make the footer stay at the bottom lol-->
         </div>
      </div>
      <!--/.Main listing-->
   </div>
   <!--/.Post-->
</div>
{% endblock %}