{% extends "laternApp/layouts/base.html" %}
{%block content%}
{% load staticfiles %}
<!--Post-->
<div class="row">
   <!--Main listing-->
   <div class="col-md-6 offset-md-3 ">
      <div style="height: 50px;"></div>
      <!--Section: Image post with description-->
      <section class="section extra-margins">
         <!--Image Post-->
         <div class="row wow fadeIn " data-wow-delay="0.3s">
            <form onsubmit="return Validate(this);" method="post" enctype="multipart/form-data" id="PostForm">
               {% csrf_token %}
                  <!--Second row-->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="md-form">
                           {{ form.body_text }}
                           <label for="id_body_text" class="">Title</label>
                        </div>
                     </div>
                  </div>
                  <!--/Second row-->
                  <!--Third row-->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="md-form">
                           {{ form.description }}
                           <label for="id_description" class="">Caption</label>
                        </div>
                     </div>
                  </div>
                  <!--/Third row-->
                  <br>
                  <!--Genre Choosing-->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="dropdown float-xs-left">
                           {{ form.genre }}
                           <label>Genre</label>
                        </div>
                     </div>
                  </div>
                  <!--Genre Choosing-->
                  <br>
                  <!--Fourth row-->
                  <div class="file-field" id="image_upload">
                     <div class="btn btn-primary" >
                        <span>Choose file</span>
                        {{ form.file }}
                     </div>
                     <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload your file" id="file_text" required>
                     </div>
                  </div>
                  <!--/Fourth row-->

                  <!--Third row-->
                  <div class="row" id="story" style="display:none;">
                     <div class="col-md-12">
                        <div class="md-form">
                           {{ form.story }}
                           <label for="id_story" class="">Enter the piece here</label>
                        </div>
                     </div>
                  </div>
                  <br><br>
                  <!--/Third row-->
                  <div class="row">
                     <div class="col-md-4">
                        <fieldset class="form-group">
                           <input name="my_work" type="radio" id="radio11" checked="checked" value="1">
                           <label for="radio11">My Work</label>
                        </fieldset>
                     </div>
                     <div class="col-md-8">
                        <fieldset class="form-group form-inline">
                           <input name="my_work" type="radio" name="artist" id="artist-name" required value="0">
                           <label for="artist-name">Not my work</label>
                           <div class="reveal-if-active" style="display:none;">
                              <label for="name-artist">Artist Name</label>
                              <input type="text" id="name-artist" name="artist" class="require-if-active" data-require-pair="#artist-name"> </div>
                        </fieldset>
                     </div>
                  </div>
                  <br>
                  <div class="float-xs-right">
                     <button class="btn black">Submit</button>
                  </div>
                  <!--<div class="float-xs-right">-->
                     <!--<input type="submit" class="btn black" value="SUBMIT" >-->
                  <!--</div>-->
               </form>
            <br><br>
         </div>
      </section>
   </div>
   <!--/.Main listing-->
</div>
<!--/.Post-->
<script>
$(document).on('change', 'input:radio[name="my_work"]', function (event) {
     var value = $(this).val();
     if (parseInt(value) == 0){
         $('.reveal-if-active').attr('style','display:block;');
     }
     else{
         $('.reveal-if-active').attr('style','display:none;');
     }
 });
 $(document).on('change', 'select[name="genre"]', function (event) {
     var value = $(this).val();
     if (value == 'Photography' || value == 'Art')
     {
         $('#image_upload').attr('style','display:block;');
         $('#story').attr('style','display:none;');
         $('#file_text').attr('required');

     }
     else
     {
         $('#image_upload').attr('style','display:none;');
         $('#story').attr('style','display:block;');
         $('#file_text').removeAttr('required');
     }
 });

   $('#PostForm').validate({
     rules: {
       // compound rule
       heading: {
         required: true,
       },
       body_text: {
         required: true,
       },
       description: {
         required: true,
       },
       my_work: {
         required: true,
       }
     }
   });


</script>
{% endblock %}
