
/*Avatar*/
.small-avatar {
  width: 110%;
  height: 110%;
}

.nav-avatar img{
  height: 50px;
  width: 50px;
}

.nav-logo img{
  height: 55px;
  width: auto;
}

.nav-link span{
  padding: 10px;
}

/*Comments*/
.comment-text{
  font-size: 12px;

}

/*Scrolling element*/
.scroll-box {
position: relative;
}
.scrollspy-example {
position: relative;
overflow-y: scroll;
height: 800px; 
}

.scroll-box ::-webkit-scrollbar { 
  display: none;
}

/*Vertical Divider*/

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-right: 3px solid rgba(0,0,0,0.1);
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

/*Navbar link Button*/

.nav-item button{
  font-size: 0.8rem;
  padding: 0.65rem 0.65rem;
}

/*Text allinment*/

.text-center{
  text-align: center;
}

/*Mood display inline*/
.mood-inline{
  text-align:center;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}
.mood-inline img{
  display: inline-flex;
  width: 80px;
  height: 80px;
}

/*Mood Circle*/

.circle-container {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 5em auto 0;
  
}
.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4em;
  width: 7em;
  height: 7em;
}
.circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(10em) rotate(0deg);
          transform: rotate(0deg) translate(10em) rotate(0deg);
}
.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(60deg) translate(10em) rotate(-60deg);
          transform: rotate(60deg) translate(10em) rotate(-60deg);
}
.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(120deg) translate(10em) rotate(-120deg);
          transform: rotate(120deg) translate(10em) rotate(-120deg);
}
.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(180deg) translate(10em) rotate(-180deg);
          transform: rotate(180deg) translate(10em) rotate(-180deg);
}
.circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(240deg) translate(10em) rotate(-240deg);
          transform: rotate(240deg) translate(10em) rotate(-240deg);
}
.circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(300deg) translate(10em) rotate(-300deg);
          transform: rotate(300deg) translate(10em) rotate(-300deg);
}
.circle-container img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  -webkit-transition: .15s;
  transition: .15s;
}
.circle-container img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.container {
    margin-top: 20px;
}
label.error {
    transform: translateY(-80%) !important;
    position: unset !important;
    color: red !important;
}