<html>
<head>
    <title>Forgot Password Email</title>
</head>
    <body>
    <p>Hi, </p>
    <p>You have requested for reset password. So we are sending you a temporary password. please this password for login.</p>
    <p>password: {{ password }}</p>
    <p><a href="{{ SITE_LINK }}">Click Here to login</a></p>
    <p>Thanks</p>
    <p>Team Website</p>
    </body>
</html>