<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
   <head>
      <!-- Required meta tags always come first -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Lantern - Home</title>
      <!-- FavIcon -->
      <link href="{% static 'assets/img/favicon.ico' %}" rel="icon" type="image/x-icon" />
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Material Design -->
      <link href="{% static 'assets/css/materialD.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
      <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/pnotify.custom.min.css' %}" rel="stylesheet">
      <!-- Custom Stylesheet-->
      <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/image_model.css' %}" rel="stylesheet">
      <!-- JQuery -->
      <script type="text/javascript" src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>-->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" src="{% static 'assets/js/select2.min.js' %}"></script>

   </head>
   <body class="fixed-sn dark-skin">
   <script>
   //alert('{{ messages }}');
      //show_stack_bar_bottom('error', 'asdasd');
   </script>
   {{ messages }}

      <!--Double navigation-->
      <header>
         <!--Navbar-->
         <nav class="navbar navbar-fixed-top scrolling-navbar double-nav">
            <div class="container-fluid">
               <div class="row">
                  <!-- Logo -->
                  <div class="col-sm-3 ">
                     <a href="{% url 'landing' %}" class="nav-logo"><img src="{% static 'assets/img/logo.jpg' %}"></a>
                  </div>
                  <!-- Logo -->
                  <!-- Mood Search Emoji Display-->

                     <div class="col-sm-6 ">
                        {% if not header_emotion %}
                           <div class="nav navbar-nav nav-item  text-xs-center">
                              <a href="{% url 'dashboard' 'happy' %}" class="nav-logo hm-zoom"><img src="{% static 'assets/img/happy.svg' %}"></a>
                              <a href="{% url 'dashboard' 'excited' %}" class="nav-logo hm-zoom"><img src="{% static 'assets/img/excited.svg' %}"></a>
                              <a href="{% url 'dashboard' 'bored' %}" class="nav-logo hm-zoom"><img src="{% static 'assets/img/bored.svg' %}"></a>
                              <a href="{% url 'dashboard' 'nervous' %}" class="nav-logo hm-zoom"><img src="{% static 'assets/img/nervous.svg' %}"></a>
                              <a href="{% url 'dashboard' 'sad' %}" class="nav-logo hm-zoom"><img src="{% static 'assets/img/sad.svg' %}"></a>
                              <a href="{% url 'dashboard' 'angry' %}" class="nav-logo hm-zoom"><img src="{% static 'assets/img/angry.svg' %}"></a>
                           </div>
                        {% endif %}
                     </div>

                  <!-- Mood Search Emoji Display-->
                  <!-- Links to the right -->
                  <div class="col-sm-3 ">
                     {% if not users %}

                     <ul class="nav navbar-nav float-xs-right">
                        <li class="nav-item">
                           <a href="{% url 'submit' %}" ><button class="btn black waves-effect">Submit{{ request.user.profile_pic }}</button></a>
                           {% if request.user.users.role == 2 %}
                              <a href="{% url 'curate' %}" ><button class="btn black waves-effect">Curate</button></a>
                           {% else %}
                              <a href="{% url 'sorry' %}" ><button class="btn black waves-effect">Curate</button></a>
                           {% endif %}
                           <a class="nav-avatar hm-zoom" href="{% url 'profile' %}"><img class="rounded-circle" src="{% if request.user.users.profile_pic %}{% static request.user.users.profile_pic %}{% else %}{% static 'profileData/avatar.jpeg' %}{% endif %}"></a>
                           <div class="btn-group">
                              <button class="btn dropdown-toggle black" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item black-text" data-toggle="modal" data-target="#ChangePasswordModal" href="javascript:void(0);"><i class="fa fa-cogs"></i>&nbsp;&nbsp; Settings</a>
                                 <div class="dropdown-divider black"></div>
                                 <a class="dropdown-item black-text" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>&nbsp;&nbsp; Log Out</a>
                              </div>
                           </div>
                        </li>
                     </ul>
                     {% endif %}
                  </div>
                  <!-- Links to the right -->
               </div>
            </div>
         </nav>
         <!--/Navbar-->
      </header>
      <!--/Double navigation-->
      <!-- Main layout -->
      <main>
            <!--<img class="myImg" src="/laternApp/static/assets/img/sad.svg" alt="Trolltunga, Norway" width="300" height="200">-->
            <!--<img class="myImg" src="/laternApp/static/assets/img/sad.svg" alt="Trolltunga, Norway" width="300" height="200">-->
         <div id="ChangePasswordModal" class="modal fade" role="dialog">
           <div class="modal-dialog">

             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                 <h4 class="modal-title">Change Password Form</h4>
               </div>
                <form action="/change_password_view/" method="post" id="ChangePasswordForm">
                   {% csrf_token %}
                     <div class="modal-body">
                       <div class="md-form">
                           <!--<i class="fa fa-envelope prefix"></i>-->
                           <input type="password" id="id_old_password" class="form-control" name="old_password">
                           <label for="id_old_password">Your current password</label>
                        </div>

                        <div class="md-form">
                           <!--<i class="fa fa-envelope prefix"></i>-->
                           <input type="password" id="id_password" class="form-control" name="password">
                           <label for="id_password">New password</label>
                        </div>

                            <div class="md-form">
                               <!--<i class="fa fa-envelope prefix"></i>-->
                               <input type="password" id="id_confirm_password" class="form-control" name="confirm_password">
                               <label for="id_confirm_password">Confirm password</label>
                            </div>
                        </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                     </div>
                </form>
             </div>

           </div>
         </div>
         <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">

              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
            </div>
            {%block content%}{% endblock %}
      </main>
      <!--/ Main layout -->
      <!--Footer-->
      <footer class="page-footer  center-on-small-only ">
         <!--Copyright-->
         <div class="footer-copyright wow fadeIn " data-wow-delay="0.3s">
            © 2017 Copyright: <a href="#"> Lantern </a>
         </div>
         <!--/Copyright-->
      </footer>
      <!--/Footer-->
      <!-- SCRIPTS -->
      <!-- Tooltips -->
      <script type="text/javascript" src="{% static 'assets/js/tether.min.js' %}"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- Material Design core JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/materialD.min.js' %}"></script>
      <!-- Mood Navigation JavaScript -->
      <script type="text/javascript" src="{% static 'assets/js/moodCircleNav.js' %}"></script>
      <!-- Firm Stuff JavaScript -->
      <!--<script type="text/javascript" src="{% static 'assets/js/FormStuff.js' %}"></script>-->
      <script type="text/javascript" src="{% static 'assets/js/pnotify.custom.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/custom-pnotify.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/image_model.js' %}"></script>
   <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
   <style>
      .container{
         min-height: 550px;
      }
      .modal-backdrop{
        display: none;
      }
   </style>
   <script>
   var ajax_url = window.location.protocol + "//" + window.location.host+'/'
   $(document).ready(function(){
         $('#ChangePasswordForm').validate({
              rules: {
                // compound rule
                old_password: {
                  required: true,
                  remote: ajax_url+ 'check_password/'
                },
                password: {
                  required: true,
                  minlength: 8
                },
                confirm_password: {
                  required: true,
                  minlength: 8,
                  equalTo: "#id_password"
                },

              },
              messages:{
                  old_password: {
                     remote: 'Invalid Password'
                  }
              }
            });
   });


      // Animation init
      new WOW().init();
      $(document).ready(function() {
         $('.mdb-select').material_select();
      });
      var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png", ".txt"];

      function Validate(oForm) {
         var arrInputs = oForm.getElementsByTagName("input");
         for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
               var sFileName = oInput.value;
               if (sFileName.length > 0) {
                  var blnValid = false;
                  for (var j = 0; j < _validFileExtensions.length; j++) {
                     var sCurExtension = _validFileExtensions[j];
                     if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                     }
                  }
                  if (!blnValid) {
                     alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                     return false;
                  }
               }
            }
         }
         return true;
      }

   </script>

   {% if messages %}

       {% for message in messages %}
         <script>

            show_stack_bar_bottom('{{ message.tags }}', '{{ message }}');
         </script>
       {% endfor %}
   {% endif %}
   </body>
</html>